.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  background: url(img/holdingHands.jpg) center no-repeat;
  background-size: 100%;
}

.headerText {
  text-align: center;
  padding: 1em;
  color: white;
  border-radius: 1em;
}

.introWrapper {
  text-align: center;
  width: 50%;
}

.prototype {
  display: flex;
  gap: 1em;
}

.prototype:nth-child(even) {
  flex-direction: row-reverse;
}

.prototype > * {
  flex: 1;
}

.prototypeWrapper {
  display: flex;
  width: 80vw;
  flex-direction: column;
  gap: 1em;
}

.imageWrapper {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  padding: 1em;
}

.descriptionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  line-height: 1.3em;
}

.imageWrapper > img {
  width: 100%;
}

@media (max-width: 700px) {
  .prototype {
    flex-direction: column-reverse !important;
  }
}